canvas {
  border: 1px solid black;
  margin: 100px auto;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  position: absolute;
  /*z-index: 2;*/
}

canvas-container{
  width: 100%
}

body{
  background: #927575;
}

main-container h1{
  font-size: 25px;
  color: blue;
}

.main-container{
  text-align: center;
}

.canvas-container{
  display: flex;
  justify-content: center;
}
