canvas {
  border-radius: 4px;
  display: block;
  overflow: hidden;
  position: absolute;
}

.canvas-container {
  margin: auto;
  width: 60%;
}

.main-container {
  margin-bottom: 50px;
}

body{
  background-image: url("../images/cover-revised.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'PressStart2PRegular';
  color: #FF6347;
}


.instructions {
  margin: 13px;
}

.instructions h3 {
  font-family: 'PressStart2PRegular';
  color: #FF6347;
}
.instructions ul {
  list-style: none;
  padding: 0px;
}

.instructions li {
  font-weight: bold;
  color: #000000;
  text-shadow: 0 0 10px #ffffff;
}

.credits {
  font-family: 'PressStart2PRegular';
  color: #FF6347;
  text-align: center;
  position: relative;
  /* right: 25px; */
}

.credits a {
  text-decoration: none;

}

.instructions-container {
  margin-right: 33px;
}


.center-container {
  display: flex;
  margin-top: 100px;
}

img {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background: burlywood;
  object-fit: cover;
}