canvas {
  margin: 100px auto;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  position: absolute;
}

canvas-container {
  width: 100%
}

body{
  background-image: url("/Users/bennyzhao/Desktop/projects/zombie_attack/app/assets/images/cover-revised.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 40px;
  font-family: 'PressStart2PRegular';
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.instructions ul {
  list-style: none;
}

.instructions li {
  color: #c43736;
}
